= form_for(@game, url: games_path) do |f|
  .title
    Dots Game!
  .form-group
    = f.label :id, "Unique Game Name"
    = f.text_field :id, placeholder: "Randomly Generated"
  .form-group
    = f.label :width
    = f.text_field :width
    = f.label :height
    = f.text_field :height
  .form-group
    = f.label :must_touch, "Lines must touch"
    = f.select :must_touch, %w(True False)
  .form-group
    = f.submit "Start"
