- set_body_class "play"

.game-container
  .game-ui
    .scoreboard
      .player1
        .turn-indicator.on= render "indicator.svg"
        .logo
          %span.logo-text C
        .name Carl Zulauf
        .score-led
          .score 0
      .player2
        .turn-indicator= render "indicator.svg"
        .logo D
        .name Dawn Claussen
        .score-led
          .score 1
      .progress
        .light-track
          - 3.times do
            .scoreboard-light.on.flicker= render "light.svg"
          - 7.times do
            .scoreboard-light= render "light.svg"
        .menu-overlay.on
          .menu-items
            .name-box
              %input.name-input{ placeholder: 'Name' }
            .player-choice
              .choice-label Player
              .player-1-link 1
              .player-2-link 2
              .spectate-link.active spectate
            .exit-link exit
  = @game.board_div

= init_play_js(@game)
