- set_body_class "play"

.play
  .game-ui
    .scoreboard
      .player1
        .turn-indicator.on= render "indicator.svg"
        .logo
          %span.logo-text C
        .name Carl Zulauf
        .score-led
          .score 0
      .player2
        .turn-indicator= render "indicator.svg"
        .logo D
        .name Dawn Claussen
        .score-led
          .score 1
      .progress
        .light-track
          - 3.times do
            .scoreboard-light.on.flicker= render "light.svg"
          - 7.times do
            .scoreboard-light= render "light.svg"
        .menu-overlay
          .menu-items
            .menu-link menu
            .exit-link exit
  = @game.board_div
  -# .board{ data: {width: @game.width, height: @game.height}, style: board_grid_css(@game) }
  -#   - board_css_table(@game).flatten.map do |css_class|
  -#     %div{ class: css_class }

= init_play_js(@game)
