- set_body_class "play"

.game-container{ id: "game-#{@game.id}"}
  .game-ui
    .scoreboard
      - @game.players.each do |player|
        %div{class: player.div_class}
          .turn-indicator{class: player.indicator_class(@game)}= render "indicator.svg"
          .logo= player.number
          .name= player.name
          .score-led
            .score= @game.score(player.number)
      .progress
        .light-track
          - @game.light_track_on.times do
            .scoreboard-light.on.flicker= render "light.svg"
          - @game.light_track_off.times do
            .scoreboard-light= render "light.svg"
        .menu-overlay
          .menu-items
            .name-box
              %input.name-input{ placeholder: 'Player Name' }
            .player-choice
              .choice-label Player
              .player-1-link 1
              .player-2-link 2
              .spectate-link.active spectate
            = link_to "exit", root_path, class: "exit-link"
  .notifications
  = @game.board_div

.page-overlay
  .overlay-modal
    .title Dynamic
    .actions
      = link_to "Exit", root_path, class: "exit-link"
      = link_to "Restart", restart_game_path(@game), class: "restart-link"

= init_play_js(@game)
